header {
           
    color: #f41010;
    padding: 10px;
    text-align: center;
}
sub{ text-align: center;
    padding: -50px;

}
.container{
display:flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;




}
.item{
padding: 0px;
border: 0.3px solid #000 ;
background-color: #04AA6D;
align-items:center;
width: 100px;
height: 55px;
text-align: center;
animation: mymove 3s infinite;
border-radius: 7px 7px 7px 7px ;
}

@keyframes mymove {
  from {background-color: aqua;}
  to {background-color:orange;}
}
